.icon-48-magicslideshow {
    background-image: url(images/icon-48-magicslideshow.png);
}

.adminlist.magictoolbox {
    background-color: #ccc;
    width: auto;
    border-spacing: 1px;
    border-collapse: separate;
}
.adminlist.magictoolbox th, .adminlist.magictoolbox td {
    font-size: 12px;
    padding: 8px 8px;
}
.adminlist.magictoolbox select, .adminlist.magictoolbox input {
    font-size: 12px;
    padding: 2px;
}
#search-query {
    font-size: 12px;
    padding: 2px;
}
/*
.adminlist.magictoolbox td input {
    font-size: 12px;
    padding: 2px;
    width: 100%;
}
*/
.adminlist.magictoolbox th.title {
    background: #eee;
    font-size: 13px;
    white-space: nowrap;
    padding: 8px;
    vertical-align: top;
}
table.adminlist.magictoolbox tbody tr.row1 td, table.adminlist.magictoolbox tbody tr.row1 th {
    background: #fff;
}
table.adminlist.magictoolbox tbody tr.row0 td, table.adminlist.magictoolbox tbody tr.row0 th {
    background: #eee;
}
table.adminlist.magictoolbox tbody tr.row0 td.def_changed, table.adminlist.magictoolbox tbody tr.row1 td.def_changed {
    color: #000;
    font-weight: bold;
}
table.adminlist.magictoolbox tbody tr td {
    border: none !important;
    color: #999;
}
.adminlist.magictoolbox th.subtitle {
    font-weight: bold;
    font-size: 16px;
    background: #dfdfdf;
    padding: 8px;
}
.adminlist.magictoolbox tbody th {
    color: #444;
}
.adminlist.magictoolbox tbody th span {
    display: block;
    font-weight: normal;
    color: #666666;
    margin: 4px 0;
}
.adminlist.magictoolbox th.title.def, table.adminlist.magictoolbox tbody tr.row0 td.def, table.adminlist.magictoolbox tbody tr.row1 td.def {
    font-weight: bold;
    background: #f4efa3;
    color: #666;
}
.adminlist.magictoolbox span.yes {
    text-indent: -5000px;
    background: url(images/yes.gif);
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    opacity: 0.5;
    -moz-opacity: 0.5;
    -html-opacity: 0.5;
    filter: alpha(Opacity=50);
}
.adminlist.magictoolbox span.no {
    text-indent: -5000px;
    background: url(images/no.gif);
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    opacity: 0.5;
    -moz-opacity: 0.5;
    -html-opacity: 0.5;
    filter: alpha(Opacity=50);
}
table.adminlist.magictoolbox tbody td.def span.yes,
table.adminlist.magictoolbox tbody td.def span.no,
table.adminlist.magictoolbox tbody td.def_changed span.yes,
table.adminlist.magictoolbox tbody td.def_changed span.no {
    opacity: 1;
    -moz-opacity: 1;
    -html-opacity: 1;
    filter: alpha(Opacity=100);
} 
.adminlist.magictoolbox a.settings {
    background: url(images/settings.gif) left center no-repeat;
    display: block;
    line-height: 16px;
    margin: 6px 0 0 0;
    padding: 0 0 0 20px;
    text-decoration: underline;
    font-size: 12px;
}
h3.magictoolbox {
    font-weight: bold;
    font-size: 16px;
    background: #dfdfdf;
    padding: 8px;
}
h3.magictoolbox  span {
    display: block;
    clear: both;
    line-height: 0px;
    font-size: 0px;
    height: 0px;
}
.magictoolbox .mBtn {
    border: 1px solid #86AB15;
    background: #9dc91a;
    font-size: 13px;
    color: #fff;
    padding: 6px 9px;
    font-weight: bold;
    cursor: pointer;
}
/*.adminlist.magictoolbox input, .adminlist.magictoolbox select {
     font-size: 12px; 
}*/
.adminlist.magictoolbox img {
    position: relative;
    top: 2px;
}
.adminlist.magictoolbox th {
    text-align: left;
    vertical-align: middle;
}
.adminlist.magictoolbox label, .adminlist.magictoolbox input {
    color: #444444;
}
.adminlist.magictoolbox label {
    display: inline;
}
.adminlist.magictoolbox input[type="radio"] {
    margin: 3px 3px 0px 5px;
}
.adminlist.magictoolbox .mBtn {
    color: #fff;
}
.adminlist.magictoolbox .mzr {
    border: none;
}
.adminlist.magictoolbox .mzinp {
    padding: 3px;
}
.adminlist.magictoolbox .magictooltip {
    color: blue;
}
#magictooltip {
    font-size: 14px;
    width: 200px !important;
}
#magictooltip a {
    color: blue;
}
#magicscroll_icon {
    float: left;
    margin: 0 10px 0 0;
    position: static;
}
.red {
    color: red !important;
}
.green {
    color: green !important;
}
.hidden {
    display: none;
}
ul#pagination{
    display: block;
    margin: 10px;
    padding: 0 5%;
    height: 20px;
}

ul#pagination li {
    display: inline;
    margin: 0;
    padding: 0;
}
ul#pagination li a, ul#pagination li span {
    background: #fff;
    display: block;
    float: left;
    line-height: 20px;
    padding: 0 1em;
    margin: 0;
}
ul#pagination li span {
    color: #ccc;
    cursor: default;
}
ul#pagination li span.selected {
    color: #000;
    font-weight: bold;
    background: #eee;
}
ul#pagination li a:hover {
    background: #eee;
    text-decoration: none;
}
div.actions {
    margin: 10px;
    padding: 0;
}
.stretch {
    width: 95%;
}
.magictoolbox.joomla3 #adminForm div.actions label {
    display: inline;
}
.magictoolbox.joomla3 #adminForm div.actions select {
    margin: 0;
}
/*.magictoolbox.joomla3 {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 8px;
}
.magictoolbox.joomla3 table.adminlist {
    border-spacing: 1px;
    border-collapse: separate;
}
.magictoolbox.joomla3 table.adminlist tr td, .magictoolbox.joomla3 table.adminlist th {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;

}
.magictoolbox.joomla3 table.adminlist tr.row1 td {
    background: none repeat scroll 0 0 #f0f0f0;
    border-top: 1px solid #fff;
}
*/
.magictoolbox.joomla3 table.adminlist img {
    height: 24px !important;
}
.alternates.joomla3 .adminlist.table img {
    height: 64px !important;
}
